body {
	--primary:    #7e40c9;
	--panel-light:#b883f7;
	--text-light: #0f041c;
	--text-dark:  #cfaaf0;
	--hilight:    #c42986;
	
	background-color: #150726;
	font-family: sans-serif;
	color: var(--text-dark);
	margin: 0;
	padding: 0;
	padding-top: 50px;
}

a {
	color: #f07fd4;
}

a:visited {
	color: #f23ac4;
}

section {
	display: flex;
	box-sizing: border-box;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

section > h1 {
	display: block;
	width: 100%;
	text-align: center;
	color: var(--text-dark);
	
}

info-card {
	background: rgb(148,110,191);
	background: linear-gradient(139deg, rgba(148,110,191,1) 13%, rgba(221,200,236,1) 35%, rgba(240,176,228,1) 45%, rgba(189,111,209,1) 75%);
	color: var(--text-light);
	
	border: 0;
	border-radius: 12px;
	padding: 12px;
	margin-left: 20px;
	margin-right: 20px;
	
	box-shadow:
		0 4px 8px 0 rgba(0,0,0,0.5),
		16px 16px 0 0 #af64ed,
		16px 20px 8px 0 rgba(0,0,0,0.5),
		-16px 32px 0 0 #582482,
		-16px 36px 8px 0 rgba(0,0,0,0.5);
}

info-card img {
	float: right;
}

info-card h1 {
	font-size: 120%;
	font-weight: bold;
	margin: 8px 20px 0px 20px;
}

info-card h2 {
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
	margin: 0px 20px 8px 20px;
}

skill-grid {
	box-sizing: border-box;
	padding: 30px;
}

skill-grid .contents {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	min-width: 340px;
	justify-content: center;
}

skill-grid .contents a {
	margin-left: auto;
	margin-right: auto;
}
